alabaster==0.7.12
aniso8601==4.1.0
argcomplete==1.9.4
asn1crypto==0.24.0
awscli==1.16.99
Babel==2.9.1
base58==1.0.3
boto3==1.9.89
botocore==1.12.89
certifi==2018.11.29
cffi==1.11.5
cfn-flip==1.1.0.post1
chardet==3.0.4
click==7.0
colorama==0.4.1
decorator==4.3.2
docutils==0.14
durationpy==0.5
Flask==1.0.2
Flask-Ask==0.9.8
future==0.17.1
geocoder==1.38.1
gunicorn==19.9.0
hjson==3.0.1
idna==2.8
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
kappa==0.7.0
lambda-packages==0.20.0
MarkupSafe==1.1.0
placebo==0.8.2
pyasn1==0.4.5
pycparser==2.19
Pygments==2.3.1
pyOpenSSL==19.0.0
python-dateutil==2.8.0
python-slugify==2.0.1
pytz==2018.9
PyYAML==4.2b4
ratelim==0.1.6
requests==2.21.0
rsa==4.0
s3transfer==0.2.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
toml==0.10.0
tqdm==4.30.0
troposphere==2.4.2
Unidecode==1.0.23
urllib3==1.24.1
Werkzeug==0.14.1
wsgi-request-logger==0.4.6
zappa==0.47.1
